* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
header {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #961818;
    border-top: 7px solid #c2ae00;
    border-bottom: 2px solid black;
    margin-bottom: 0.15rem;
}
.header-left-title {
    width: 23rem;
    font-size: 40px;
    color: white;
    padding-left: 1rem;
}
.under-left-title {
    font-size: 20px;
    color: white;
    margin-left: -18rem;
    align-self: center;
    margin-top: 3rem;
}
.header-centre-title {
    font-family: cursive;
    font-style: italic;
    font-size: 30px;
    color: #c2ae00;
    width: 200px;
    text-align: center;
    text-shadow: 1px 3px black;
    margin-right: 2rem;
}
.contact-details {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: serif;
    padding-top: 1.8rem;
}
.half {
    align-content: center;
    width: 950px;
    display: flex;
    justify-content: space-between;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 65%;
    border: 0px solid red;
}
nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    list-style-type: none;
    background-color: #661818;
    color: white;
    padding: 0;
    margin: 0;
}
nav a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: block;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 1.2rem 2.565rem;
}
nav a:hover {
    background-color: #961818;
}
* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.overlay-img {
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: left;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}
.food-btn {
    width: 36px;
    height: 26px;
    cursor: pointer;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    margin-bottom: -0.237rem;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.wrapper h2 {
    text-align: center;
    font-family: "Alfa Slab One", cursive;
    line-height: 0.8rem;
    font-size: 33px;
}
h2.authentic-dishes {
    color: #951a1d;
    font-size: 27px;
}
.reservation-station {
    border-top: 1px solid black;
    padding-top: 0.4rem;
}

p {
    margin: 0;
    margin-top: 0.1rem;
    padding: 0;
    text-align: center;
    font-size: 2.6875rem;
    line-height: 2.875rem;
    font-family: "Bebas Neue", cursive;
}
p.red-text {
    color: #951a1d;
}
p.middle-p-size {
    font-size: 2.3125rem;
    line-height: 2.4375rem;
}
p.enjoy-new {
    font-size: 1.6875rem;
    line-height: 1.8125rem;
    margin-top: 0rem;
}
.banner-with-dan {
    margin-bottom: 1rem;
}
.button-wrapper {
    text-align: center;
}
.button-wrapper a {
    border: 0;
    font-family: "Alfa Slab One", cursive;
    font-size: 2.25rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #971818;
    display: block;
    width: 100%;
}
.restaurant-roundup {
    margin: 0;
    padding: 0;
}
.res-round-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}
.res-round-text {
    display: flex;
    justify-content: space-around;
}
.res-round-text p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.05rem;
    line-height: 1.3rem;
    text-align: left;
    margin: 0;
}
p.text-separator {
    margin: 0 4.5rem;
}
footer {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 0.15rem;
}
.footer-left-title {
    font-size: 40px;
    color: white;
    margin-top: 2.5rem;
    border: 0px solid blue;
}
.footer-under-left-title {
    font-size: 20px;
    color: white;
    border: 0px solid limegreen;
    align-self: center;
    margin-top: -1.5rem;
    margin-left: 10rem;
}
footer img {
    border-radius: 10px;
    border: 4px solid grey;
    width: 9.5625rem;
    height: 6rem;
    align-self: center;
    margin-bottom: 0;
}
.footer-contact-details {
    text-align: center;
    font-size: 30px;
    color: #971818;
    font-family: serif;
    margin-bottom: 1rem;
    margin-top: 0;
}
.footer-images {
    margin-top: 1.5rem;
}
.date-picker-block {
    float: left;
    width: 280px;
    height: 347px;
    background-color: #ffeb3a;
    margin: 2rem 2rem 1rem 2rem;
}
.date-picker {
    float: left;
    position: relative;
    width: 100%;
    max-width: 280px;
    height: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.date-picker-block p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.date-picker:hover {
    background-color: #f3f3f3;
}
.date-picker .selected-date {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: #313131;
}
.date-picker .dates {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
}
.date-picker .dates.active {
    display: block;
}
.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
}
.date-picker .dates .month .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}
.date-picker .dates .month .arrows:hover {
    background-color: #f3f3f3;
}
.date-picker .dates .month .arrows:active {
    background-color: #00ca85;
}
.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #313131;
    /* height: 30px; */
}
.date-picker .dates .days .day.selected {
    background-color: #00ca85;
}
